html, body {
    @include reset-box-size;
}

button {
    border-radius: $button-corner-radius;
}

.app {
    display: grid;
    @media only screen and (min-width: 600px) {
        grid-template-areas: 
            "header header"
            "notebooks editor";
        grid-template-columns: 300px 1fr;
    }
    @media only screen and (max-width: 600px) {
        grid-template-areas:
            "header"
            "notebooks";
        grid-template-columns: 1fr;
    }

    @include reset-box-size;
    height: calc(100vh - 1px);
    width: 100vw;
    max-width: 100%;
    max-height: 100%;

    
    grid-template-rows: auto 1fr;

    * {
        @include grid-element-min-size;
    }
}

h2 {
    display: none;
}