body {
    @include reset-box-size;
}

button {
    border-radius: $button-corner-radius;
}

.app {
    display: grid;
    grid-template-areas: 
        "header header"
        "notebooks editor";

    height: 100vh;
    width: 100vw;

    @include reset-box-size;

    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;

    * {
        @include grid-element-min-size;
    }
}

h2 {
    display: none;
}