h1 {
    font-size: $h1-font-size;

}

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: $app-grid-gap;
    
    @include reset-box-size;
    padding: 0;
    height: calc(100vh - 1px);
    width: 100vw;
    max-width: 100%;
    max-height: 100%;

    @include grid-children-elements-min-size;

    @media only screen and (min-width: $responsive-thr) {
        grid-template-areas: 
            "header header"
            "notebooks editor";
        grid-template-columns: $notebooks-width 1fr;
    }
    @media only screen and (max-width: $responsive-thr) {
        grid-template-areas:
            "header"
            "editor"; // change between notebooks and editor
        &__show-notebooks {
            grid-template-areas:
                "header"
                "notebooks"; // change between notebooks and editor
            }
        grid-template-columns: 1fr;
    }
}

