.editor {
    grid-area: editor;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    background-color: brown;
    height: 100%;

    * {
        @include grid-element-min-size;
    }

    button {
        width: 50px;
        justify-self: end;
    }

    //#{&}__textarea {
        // height: 100%;
        // width: 100%;
    //}
}