.editor {
    grid-area: editor;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "editor editor"
        "notebooks save";

    @media only screen and (max-width: $responsive-thr) {
        display: none; // change between grid and none
    }

    @include grid-children-elements-min-size;

    #{&}__save-button {
        grid-area: save;

        @media only screen and (min-width: $responsive-thr) {
            width: $editor-save-button-width;
            justify-self: end;
        }
    }

    #{&}__notebooks-button {
        grid-area: notebooks;

        @media only screen and (max-width: $responsive-thr) {
            display: inline;
        }
        @media only screen and (min-width: $responsive-thr) {
            display: none;
        }
    }

    #{&}__textarea {
        grid-area: editor;
    }
}