@mixin grid-element-min-size {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
}

@mixin reset-box-size {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex-split($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}