.header-panel {
    grid-area: header;
    padding: 9px;
    background-color: $grey-01;
    border-bottom: 1px solid $grey-04;
    z-index: 20;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.17);
    
    @include flex-split(row);
    align-items: center;

    h1 {
        @include reset-box-size;
        color: $dark-grey-01;
    }

    p {
        @include reset-box-size;

    }

    &__sync-text_success {
        font-size: 16px;
        color: green;
        font-weight: bold; 
    }

    &__sync-text_in_work {
        font-size: 16px;
        color: rgb(163, 163, 0);
        font-weight: bold; 
    }

    &__sync-text_fail {
        font-size: 16px;
        color: red;
        font-weight: bold; 
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 5px;
        
        button {
            border: none;
        }
        p {
            margin-right: 20px;
        }
    }
}

