html, body {
    @include reset-box-size;
}

h2 {
    display: none;
    font-family: $main-font;
}

button {
    font-family: $main-font;
    @include general-button;
}

input {
    font-family: $main-font;
    width: 50%;
    outline: none;
}