.notebooks {
    grid-area: notebooks;
    display: grid;
    grid-template-rows: 1fr auto;

    @media only screen and (max-width: 600px) {
        display: grid;
    }

    @media only screen and (min-width: 600px) {
        grid-template-areas:
            "selector"
            "newnotebook";
        grid-template-columns: 1fr;
        

        #{&}__back-button {
            display: none;
        }
        background-color: red;
    }

    @media only screen and (max-width: 600px) {
        grid-template-areas:
            "selector selector"
            "backbutton newnotebook";
        grid-template-columns: 1fr 1fr;
        #{&}__back-button {
            display: inline;
            grid-area: backbutton;
        }
        background-color: yellow;
    }

    #{&}__add-button {
        grid-area: newnotebook;
    }
    
    height:100%;
    
    #{&}__notebook {
        @include flex-split(row);
        align-items: center;
        min-height: min-content;

        padding: 10px;
        background-color: grey;
        border-radius: 10px;
    }

    #{&}__selection {
        grid-area: selector;
        height: auto;
        overflow: auto;

        padding: 10px;
        
        display: flex;
        flex-direction: column;
        gap: 10px;
    } 
}