.notebooks {
    height:100%;

    grid-area: notebooks;
    display: grid;  
    grid-template-rows: 1fr 45px;
    gap: $app-grid-gap;
    padding-top: 2px;
    background-color: $grey-01;
    z-index: 15;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media only screen and (max-width: $responsive-thr) {
        display: none; // change between grid and none
        &__show-notebooks {
            display: grid;
        }
    }

    @media only screen and (min-width: $responsive-thr) {
        grid-template-areas:
            "selector"
            "newnotebook";
        grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $responsive-thr) {
        grid-template-areas:
            "selector selector"
            "backbutton newnotebook";
        grid-template-columns: 1fr 1fr;
    }

    #{&}__back-button {
        @media only screen and (min-width: $responsive-thr) {
            display: none;
        }
        @media only screen and (max-width: $responsive-thr) {
            display: inline;
            grid-area: backbutton;
        }
    }

    #{&}__add-button {
        grid-area: newnotebook;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        border: none;
        border-top: 2px $grey-02 solid;
        @media only screen and (max-width: $responsive-thr) {
            border-left: 2px $grey-02 solid;
        }

    }
    
    #{&}__notebook {
        @include flex-split(row);
        align-items: center;
        min-height: min-content;
        
        @include single-notebook-selection;

        &__icon-button {
            @include icon-button;
        }

        &__edit-title {
            background-color: none;
            padding-left: 0px;
            border: none;
            outline: none;
        }
    }

    #{&}__selected-notebook {
        @include flex-split(row);
        align-items: center;
        min-height: min-content;

        @include single-notebook-selection;
        background-color: $accent-03;

        &__icon-button {
            @include icon-button;
        }
    }

    #{&}__selection {
        grid-area: selector;
        height: auto;
        overflow: auto;

        padding: $notebooks-selection-padding;
        
        display: flex;
        flex-direction: column;
        gap: $notebooks-gap;

        // hide scroll bar
        @media only screen and (max-width: $responsive-thr) {
            &::-webkit-scrollbar {
                width: 0 !important
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    } 
}