// app sizing
$responsive-thr: 500px;
$notebooks-width: 300px;
$app-grid-gap: 5px;
$app-padding: 5px;

$editor-save-button-width: 100px;
$notebooks-selection-padding: 0px;
$notebooks-gap: 5px;

// typefaces
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
$main-font: 'Roboto Slab', serif;

// font sizes
$general-font-size: 18px;
$h1-font-size: 25px;
$editor-font-size: 22px;

// general button mixin
@mixin general-button($action: false) {
    margin: 0px;
}

// notebook
@mixin single-notebook-selection {
    padding: 10px 15px;
    background-color: lightgrey;

    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 15px;

    p {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

// icon-button
$icon-button-size: 24px;
$icon-hover-color: blue;
$icon-click-color: red;
@mixin icon-button {
    height: $icon-button-size;
    width: $icon-button-size;

    color: grey;
    &:hover {
        color: $icon-hover-color;
    }
    &:active {
        color: $icon-click-color;
    }
}
