@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

h2 {
  display: none;
  font-family: "Roboto Slab", serif;
}

button {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin: 0px;
  border-radius: 0px;
  text-align: left;
  padding: 10px 15px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-top: 2px rgb(216, 216, 216) solid;
}
button:hover {
  background-color: rgb(216, 216, 216);
}

input {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  width: 50%;
  outline: none;
}

h1 {
  font-size: 25px;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0px;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
  height: calc(100vh - 1px);
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
.app * {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 500px) {
  .app {
    grid-template-areas: "header header" "notebooks editor";
    grid-template-columns: 300px 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .app {
    grid-template-areas: "header" "editor";
    grid-template-columns: 1fr;
  }
  .app__show-notebooks {
    grid-template-areas: "header" "notebooks";
  }
}

.editor {
  grid-area: editor;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 45px;
  grid-template-areas: "editor editor" "notebooks save";
  gap: 0px;
}
@media only screen and (max-width: 500px) {
  .editor {
    display: grid;
  }
  .editor__show-notebooks {
    display: none;
  }
}
.editor * {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
.editor .editor__save-button {
  grid-area: save;
  border-left: 2px rgb(216, 216, 216) solid;
}
@media only screen and (min-width: 500px) {
  .editor .editor__save-button {
    width: 100px;
    text-align: center;
    justify-self: end;
  }
}
.editor .editor__notebooks-button {
  grid-area: notebooks;
}
@media only screen and (max-width: 500px) {
  .editor .editor__notebooks-button {
    display: inline;
  }
}
@media only screen and (min-width: 500px) {
  .editor .editor__notebooks-button {
    display: none;
  }
}
.editor .editor__textarea {
  grid-area: editor;
  resize: none;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  outline: none;
  border: none;
  padding: 10px;
}
.editor .editor__textarea:focus {
  outline: none;
}

.header-panel {
  grid-area: header;
  padding: 9px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 20;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-panel h1 {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(83, 83, 83);
}
.header-panel p {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-panel__sync-text_success {
  font-size: 16px;
  color: green;
  font-weight: bold;
}
.header-panel__sync-text_in_work {
  font-size: 16px;
  color: rgb(163, 163, 0);
  font-weight: bold;
}
.header-panel__sync-text_fail {
  font-size: 16px;
  color: red;
  font-weight: bold;
}
.header-panel__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-panel__buttons button {
  border: none;
}
.header-panel__buttons p {
  margin-right: 20px;
}

.notebooks {
  height: 100%;
  grid-area: notebooks;
  display: grid;
  grid-template-rows: 1fr 45px;
  gap: 0px;
  padding-top: 2px;
  background-color: rgb(240, 240, 240);
  z-index: 15;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 500px) {
  .notebooks {
    display: none;
  }
  .notebooks__show-notebooks {
    display: grid;
  }
}
@media only screen and (min-width: 500px) {
  .notebooks {
    grid-template-areas: "selector" "newnotebook";
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .notebooks {
    grid-template-areas: "selector selector" "backbutton newnotebook";
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .notebooks .notebooks__back-button {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .notebooks .notebooks__back-button {
    display: inline;
    grid-area: backbutton;
  }
}
.notebooks .notebooks__add-button {
  grid-area: newnotebook;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  border-top: 2px rgb(216, 216, 216) solid;
}
@media only screen and (max-width: 500px) {
  .notebooks .notebooks__add-button {
    border-left: 2px rgb(216, 216, 216) solid;
  }
}
.notebooks .notebooks__notebook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: 10px 15px;
  background-color: rgb(240, 240, 240);
}
.notebooks .notebooks__notebook input {
  width: 80%;
}
.notebooks .notebooks__notebook p {
  width: 80%;
}
.notebooks .notebooks__notebook .notebooks .notebooks__notebook-selected {
  background-color: rgb(179, 253, 203);
}
.notebooks .notebooks__notebook:hover {
  background-color: rgb(179, 253, 203);
}
.notebooks .notebooks__notebook:active {
  background-color: rgb(221, 255, 232);
}
.notebooks .notebooks__notebook p {
  padding: 0;
  margin: 0;
  border: 0;
}
.notebooks .notebooks__notebook__icon-button {
  height: 24px;
  width: 24px;
  color: rgb(110, 110, 110);
}
.notebooks .notebooks__notebook__icon-button path {
  stroke: rgb(216, 216, 216);
}
.notebooks .notebooks__notebook__icon-button:hover {
  color: rgb(0, 145, 46);
}
.notebooks .notebooks__notebook__icon-button:hover path {
  stroke: rgb(0, 145, 46);
}
.notebooks .notebooks__notebook__icon-button:active {
  color: rgb(0, 138, 44);
}
.notebooks .notebooks__notebook__icon-button:active path {
  stroke: rgb(0, 138, 44);
}
.notebooks .notebooks__notebook__edit-title {
  background-color: none;
  padding-left: 0px;
  border: none;
  outline: none;
}
.notebooks .notebooks__selected-notebook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: 10px 15px;
  background-color: rgb(240, 240, 240);
  background-color: rgb(179, 253, 203);
}
.notebooks .notebooks__selected-notebook input {
  width: 80%;
}
.notebooks .notebooks__selected-notebook p {
  width: 80%;
}
.notebooks .notebooks__selected-notebook .notebooks .notebooks__selected-notebook-selected {
  background-color: rgb(179, 253, 203);
}
.notebooks .notebooks__selected-notebook:hover {
  background-color: rgb(179, 253, 203);
}
.notebooks .notebooks__selected-notebook:active {
  background-color: rgb(221, 255, 232);
}
.notebooks .notebooks__selected-notebook p {
  padding: 0;
  margin: 0;
  border: 0;
}
.notebooks .notebooks__selected-notebook__icon-button {
  height: 24px;
  width: 24px;
  color: rgb(110, 110, 110);
}
.notebooks .notebooks__selected-notebook__icon-button path {
  stroke: rgb(216, 216, 216);
}
.notebooks .notebooks__selected-notebook__icon-button:hover {
  color: rgb(0, 145, 46);
}
.notebooks .notebooks__selected-notebook__icon-button:hover path {
  stroke: rgb(0, 145, 46);
}
.notebooks .notebooks__selected-notebook__icon-button:active {
  color: rgb(0, 138, 44);
}
.notebooks .notebooks__selected-notebook__icon-button:active path {
  stroke: rgb(0, 138, 44);
}
.notebooks .notebooks__selection {
  grid-area: selector;
  height: auto;
  overflow: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
@media only screen and (max-width: 500px) {
  .notebooks .notebooks__selection {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .notebooks .notebooks__selection::-webkit-scrollbar {
    width: 0 !important;
  }
}/*# sourceMappingURL=index.css.map */