@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  display: none;
  font-family: "Roboto Slab", serif;
}

button {
  font-family: "Roboto Slab", serif;
  margin: 0px;
}

html {
  font-family: "Roboto Slab", serif;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 5px;
  height: calc(100vh - 1px);
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
.app * {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 500px) {
  .app {
    grid-template-areas: "header header" "notebooks editor";
    grid-template-columns: 300px 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .app {
    grid-template-areas: "header" "notebooks";
    grid-template-columns: 1fr;
  }
}

.editor {
  grid-area: editor;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "editor editor" "notebooks save";
  gap: 5px;
}
@media only screen and (max-width: 500px) {
  .editor {
    display: none;
  }
}
.editor * {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
.editor .editor__save-button {
  grid-area: save;
}
@media only screen and (min-width: 500px) {
  .editor .editor__save-button {
    width: 100px;
    justify-self: end;
  }
}
.editor .editor__notebooks-button {
  grid-area: notebooks;
}
@media only screen and (max-width: 500px) {
  .editor .editor__notebooks-button {
    display: inline;
  }
}
@media only screen and (min-width: 500px) {
  .editor .editor__notebooks-button {
    display: none;
  }
}
.editor .editor__textarea {
  grid-area: editor;
}

.header-panel {
  grid-area: header;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-panel h1 {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-panel p {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.notebooks {
  height: 100%;
  grid-area: notebooks;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5px;
}
@media only screen and (max-width: 500px) {
  .notebooks {
    display: grid;
  }
}
@media only screen and (min-width: 500px) {
  .notebooks {
    grid-template-areas: "selector" "newnotebook";
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .notebooks {
    grid-template-areas: "selector selector" "backbutton newnotebook";
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .notebooks .notebooks__back-button {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .notebooks .notebooks__back-button {
    display: inline;
    grid-area: backbutton;
  }
}
.notebooks .notebooks__add-button {
  grid-area: newnotebook;
}
.notebooks .notebooks__notebook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  padding: 5px;
  background-color: grey;
}
.notebooks .notebooks__selection {
  grid-area: selector;
  height: auto;
  overflow: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}/*# sourceMappingURL=index.css.map */